@page "/config"
@inherits ConfigPage

<MudAppBar Class="pl-0">
    <MudIconButton Icon="@Icons.Filled.ArrowBackIosNew"
                   Class="pl-0 ml-0"
                   Color=Color.Inherit
                   aria-label="back"
                   OnClick="NavigateToGame"></MudIconButton>
    <MudContainer Class="d-flex justify-center">
        <MudText Typo="Typo.h5">
            Need an help?
        </MudText>
    </MudContainer>
</MudAppBar>

<MudPaper Class="pa-4 mt-2"
          Elevation="0">
    <MudList>
        <MudListItem Avatar="@Icons.Outlined.Lightbulb">
            Helpers
        </MudListItem>
        <MudDivider DividerType="DividerType.Inset" />
        <MudListItem>
            <MudToggleIconButton id="showidenticalnumber"
                                 Icon="@Icons.Filled.CheckBoxOutlineBlank"
                                 Title="Show identical number"
                                 ToggledIcon="@Icons.Filled.CheckBox"
                                 ToggledTitle="Do not show identical number"
                                 Toggled="ShowIdenticalNumber"
                                 ToggledChanged="ToggleShowIdenticalNumber" />
            <span>Highlight same number</span>
        </MudListItem>
        <MudListItem>
            <MudToggleIconButton id="showerrornouscells"
                                 Icon="@Icons.Filled.CheckBoxOutlineBlank"
                                 Title="Show errornous cells"
                                 ToggledIcon="@Icons.Filled.CheckBox"
                                 ToggledTitle="Do not shows the errornous cells"
                                 Toggled="ShowErrornousCells"
                                 ToggledChanged="ToggleShowErrornousCells" />
            <span>Show errornous cells</span>

        </MudListItem>
        <MudListItem Avatar="">
            <MudToggleIconButton id="highlightuniquecandidateinzone"
                                 Icon="@Icons.Filled.CheckBoxOutlineBlank"
                                 Title="Highlight cells with unique candidate"
                                 ToggledIcon="@Icons.Filled.CheckBox"
                                 ToggledTitle="Do not highlight cells with unique candidate"
                                 Toggled="HighlightCellWithUniqueCandidate"
                                 ToggledChanged="ToggleHighlightCellWithUniqueCandidate" />
            <span>Highlight cells with unique candidate</span>
        </MudListItem>

        <MudListItem Avatar="@Icons.Filled.DeveloperMode">
            Development mode
        </MudListItem>
        <MudDivider DividerType="DividerType.Inset" />
        <MudListItem>
            <MudToggleIconButton id="devmode"
                                 Icon="@Icons.Filled.CheckBoxOutlineBlank"
                                 Title="Developer mode"
                                 ToggledIcon="@Icons.Filled.CheckBox"
                                 ToggledTitle="Normal user mode"
                                 Toggled="DevMode"
                                 ToggledChanged="ToggleDevMode" />
            <span>Developer mode</span>
        </MudListItem>
    </MudList>
</MudPaper>